/*Fonts*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/*Variables*/
:root {
  --basic-text: #283136;
  --basic-black: #000000;
  --buttom-text: #FFFFFF;
  --page-top: #EEEEEE;
  /*Footer*/
  --footer-adress: #666666;
  --footer-discount :#444444;
  /*Buttons*/
  --text-active: rgba(255, 255, 255, 0.3);
  --basic-button: #FB565A;
  --hover-button: #E74246;
  --active-button: #D7373B;

  --product-button2: #00CA74;
  --button2-hover: #00BC6C;
  --button2-active: #00AA62;
  --product-button3: #EFC849;
  --button3-hover: #EAB534;
  --button3-active: #E5A722;
}

.page-body {
  min-width: 1157px;
  margin: 0 0;
  padding: 0 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-text);
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

.top-wrapper {
  background-color: var(--page-top);
}

/*Navigation*/
.main-navigation {
  line-height: 30px;
  text-transform: uppercase;
}

.site-navigation {
  list-style: none;
}

.site-navigation a, .cart-link {
  color: var(--basic-black);
}

.site-navigation a:hover, .cart-link:hover {
  color: var(--basic-button);
}

.site-navigation a:active, .cart-link:active {
  opacity: 0.3;
}

/*Features*/
.feature-title {
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}
.feature-list {
  list-style: none;
}

/*Buttons*/
.button {
  color: var(--buttom-text);
  background-color: var(--basic-button);
  line-height: 18px;
  text-align: center;

}

.button:hover {
  background-color: var(--hover-button);
}
.button:active {
  background-color: var(--active-button);
  color:var(--text-active);
}

.product-button2 {
  background-color: var(--product-button2);
}
.product-button2:hover{
  background-color: var(--button2-hover);
}
.product-button2:active{
  background-color: var(--button2-active);
}
.product-button3 {
  background-color: var(--product-button3);
}
.product-button3:hover{
  background-color: var(--button3-hover);
}
.product-button3:active {
  background-color: var(--button3-active);
}

/*Products*/
.product-name {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.product-list {
  list-style: none;
}

/*Studio description*/
.description-caption {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 45px;
}

.orders-types {
  text-transform: uppercase;
  font-weight: bold;
}

.orders-list {
  list-style: none;
}

.description-statics {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--basic-black);
}

.statics-list {
  list-style: none;
}

.description-item {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.description-percent {
font-size: 26px;
line-height: 40px;
font-weight: bold;
color: var(--basic-black);
}

.descriptin-text {
  line-height: 18px;
}

/*Partners*/
.partners-list {
  list-style: none;
}

/*Footer*/
.studio-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}

.studio-adress {
  color: var(--footer-adress);
  line-height: 18px;
}

.contacts-phone {
  color: var(--footer-adress);
}

.social-list {
  list-style: none;
}

.discount-text {
font-weight: bold;
font-size: 36px;
line-height: 36px;
color: var(--basic-black);
}

.footer-discount {
  line-height: 22px;
  color: var(--footer-discount);
}
