/*Fonts*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/*Variables*/
:root {

/*Colors*/
  --white: #FFFFFF;
  --grey-lighten:#EEEEEE;
  --grey-light: #DFDFDF;
  --grey: #D5D5D5;
  --grey-dark: #666666;
  --grey-darken: #444444;
  --dimgrey: #4D4D4D;
  --dimgrey-opacity: rgba(77, 77, 77, 0.12);
  --black-opacity: rgba(0, 0, 0, 0.3);
  --black-opacity-dark: rgba(0, 0, 0, 0.6);
  --white-opacity: rgba(255, 255, 255, 0.3);

  --red: #FB565A;
  --red--dark: #E74246;
  --red--darken: #D7373B;
  --green: #00CA74;
  --green--dark: #00BC6C;
  --green--darken: #00AA62;
  --orange: #EFC849;
  --orange--dark: #EAB534;
  --orange--darken: #E5A722;

/*Basic*/
  --text-basic: #283136;
  --text-dark: #000000;
  --link-hover: var(--red);
  --link-active: var(--black-opacity);
  --background-color: var(--white);
  --wrapper-color: var(--grey-lighten);

  /*Button*/
  --button-text: var(--white);
  --button-text-active:var(--white-opacity);
  --button-text-active: var(--black-opacity);
  --background-button: var(--red);
  --background-button-hover:var(--red--dark);
  --background-button-active:var(--red--darken);
  --catalog-button:var(--grey-lighten);
  --catalog-button-hover:var(--grey-light);
  --catalog-button-active:var(--grey);
  --catalog-button-text:var(--black-opacity);
}

.page-body {
  min-width: 1160px;
  margin: 0 0;
  padding: 0 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-basic);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

.top-wrapper {
  background-color: var(--wrapper-color);
}

/*Navigation*/
.main-navigation {
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.site-navigation {
  list-style: none;
}

.site-navigation a, .cart-link {
  color: var(--text-dark);
}

.site-navigation a:hover, .cart-link:hover {
  color: var(--link-hover);
}

.site-navigation a:active, .cart-link:active {
  color: var(--link-active);
}

/*Features*/
.feature-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--text-dark);
}
.feature-list {
  list-style: none;
}

/*Buttons*/
.button {
  color: var(--button-text);
  background-color: var(--background-button);
  line-height: 18px;
  text-align: center;
  font-weight: 500;
}

.button:hover {
  background-color: var(--background-button-hover);
}
.button:active {
  background-color: var(--background-button-active);
  color:var(--button-text-active);
}

.product-app {
  background-color: var(--green);
}
.product-app:hover{
  background-color: var(--green--dark);
}
.product-app:active{
  background-color: var(--green--darken);
}
.product-presentation {
  background-color: var(--orange);
}
.product-presentation:hover{
  background-color: var(--orange--dark);
}
.product-presentation:active {
  background-color: var(--orange--darken);
}

/*Products*/
.product-name {
  font-size: 24px;
  line-height: 30px;
  color: var(--text-dark);
  text-transform: uppercase;
  font-weight: 700;
}

.product-list {
  list-style: none;
}

/*Studio description*/
.description-caption {
  color: var(--text-dark);
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.orders-types {
  text-transform: uppercase;
  font-weight: 700;
}

.orders-list {
  list-style: none;
}

.description-statics {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-dark);
}

.statics-list {
  list-style: none;
}

.description-item {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color:var(--text-dark);
}

.description-percent {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--basic-black);
}

.descriptin-text {
  line-height: 18px;
}

/*Partners*/
.partners-list {
  list-style: none;
}

/*Footer*/
.studio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-dark);
}

.studio-adress {
  color: var(--grey-dark);
  line-height: 18px;
}

.contacts-phone {
  color: var(--grey-dark);
}

.social-list {
  list-style: none;
}

.discount-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--text-dark);
}

.footer-discount {
  line-height: 22px;
  color: var(--grey-darken);
}


/*Inner page*/
.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--text-dark);
}

.filter ul{
  list-style: none;
}

.filter {
  font-size: 16px;
  line-height: 20px;
  font-weight:400;
}

.filter-name {
  text-transform: uppercase;
  color: var(--text-dark);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.fieldset-price {
  line-height: 22px;
  text-transform: uppercase;
}

.input-price::placeholder {
  color: var(--text-basic);
}

.filter-list {
  font-size: 16px;
  line-height: 20px;
}

.filter-button {
  background-color: var(--catalog-button);
  color: var(--text-dark);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.filter-button:hover {
  background-color: var(--catalog-button-hover);
}
.filter-button:active {
  background-color: var(--catalog-button-hover);
  color: var(--catalog-button-text);
}

.filter-by {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.filter-by a {
  color: var(--black-opacity);
}
.filter-by a:hover {
  color: var(--black-opacity-dark);
}
.filter-by a:active {
  color: var(--text-dark);
}

.template-list {
  list-style: none;
}

.pagination-list {
list-style: none;
}

.pagination-item a{
  color: var(--text-dark);
  line-height: 18px;
  font-weight: 500;
  background-color: var(--grey-lighten);
}
.pagination-item a:hover {
  background-color:var(--grey-light);
}
.pagination-item a:active {
  background-color: var(--grey);
  color: var(--black-opacity);
}
