/*Fonts*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/*Variables*/
:root {

/*Colors*/
  --white: #FFFFFF;
  --grey-lighten:#EEEEEE;
  --grey-light: #DFDFDF;
  --grey: #D5D5D5;
  --grey-dark: #666666;
  --grey-darken: #444444;
  --dimgrey: #4D4D4D;
  --dimgrey-opacity: rgba(77, 77, 77, 0.12);
  --black-opacity: rgba(0, 0, 0, 0.3);
  --black-opacity-dark: rgba(0, 0, 0, 0.6);
  --white-opacity: rgba(255, 255, 255, 0.3);
  --white-smoke: rgba(68, 68, 68, 0.5);

  --red: #FB565A;
  --red--dark: #E74246;
  --red--darken: #D7373B;
  --green: #00CA74;
  --green--dark: #00BC6C;
  --green--darken: #00AA62;
  --orange: #EFC849;
  --orange--dark: #EAB534;
  --orange--darken: #E5A722;

/*Basic*/
  --text-basic: #283136;
  --text-dark: #000000;
  --link-hover: var(--red);
  --link-active: var(--black-opacity);
  --background-color: var(--white);
  --wrapper-color: var(--grey-lighten);

  /*Button*/
  --button-text: var(--white);
  --button-text-active:var(--white-opacity);
  --button-text-active: var(--black-opacity);
  --background-button: var(--red);
  --background-button-hover:var(--red--dark);
  --background-button-active:var(--red--darken);
  --catalog-button:var(--grey-lighten);
  --catalog-button-hover:var(--grey-light);
  --catalog-button-active:var(--grey);
  --catalog-button-text:var(--black-opacity);
}

/*Global*/
.page {
  height: 100%;
}

.page-body {
  min-width: 1160px;
  margin: 0 0;
  padding: 0 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-basic);
  background-color: var(--background-color);

  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main-header {
  padding-top: 48px;
}

a {
  text-decoration: none;
}

.top-wrapper {
  background-color: var(--wrapper-color);
}


/*Navigation*/
.main-navigation {
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  min-width: 440px;
}

.main-header-img {
  min-width: 160px;
}

.cart-link {
  padding-left: 25px;
}

.site-navigation a, .cart-link {
  color: var(--text-dark);
}

.site-navigation a:hover, .cart-link:hover {
  color: var(--link-hover);
}

.site-navigation a:active, .cart-link:active {
  color: var(--link-active);
}

/*Features*/
.features {
  margin-bottom: 80px;
}

.feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
  }

.feature-item {
  display: grid;
  /*grid-template-columns: 1fr auto;*/
  grid-template-columns: 260px 140px 120px 640px;
  grid-template-rows: repeat(4, auto);

  }
.feature-title {
  grid-column: 1 /4 ;
  grid-row: 1 /2;
}
.feature-item p {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  z-index: 2;
}
.feature-button {
  grid-column: 1 /2;
  grid-row: 3 / 4;
}
.feature-item-image {
  grid-column: 3 /-1;
  grid-row: 1 / -1;
}

.feature-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--text-dark);
  margin-bottom: 25px;
}


/*Buttons*/
.button {
  color: var(--button-text);
  background-color: var(--background-button);
  line-height: 18px;
  text-align: center;
  font-weight: 500;
}

.button:hover {
  background-color: var(--background-button-hover);
}
.button:active {
  background-color: var(--background-button-active);
  color:var(--button-text-active);
}

.product-app {
  background-color: var(--green);
}
.product-app:hover{
  background-color: var(--green--dark);
}
.product-app:active{
  background-color: var(--green--darken);
}
.product-presentation {
  background-color: var(--orange);
}
.product-presentation:hover{
  background-color: var(--orange--dark);
}
.product-presentation:active {
  background-color: var(--orange--darken);
}

/*Products*/
.product-name {
  font-size: 24px;
  line-height: 30px;
  color: var(--text-dark);
  text-transform: uppercase;
  font-weight: 700;
}

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
}

.product-item p {
  margin-right: 40px;
}

/*Studio description*/
.studio-description {
  display: grid;
  grid-template-columns: 660px 360px;
  justify-content: space-between;
}

.description-caption {
  color: var(--text-dark);
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.orders-types {
  text-transform: uppercase;
  font-weight: 700;
}

.orders-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.description-statics {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-dark);
  margin-top: 37px;
  margin-bottom: 31px;
}

.statics-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.description-item {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color:var(--text-dark);
  margin: 0;
  padding: 0;
}

.description-percent {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--basic-black);
}

.descriptin-text {
  line-height: 18px;
}

/*Partners*/
.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

/*Footer*/
.adress-map {
  text-align: center;
}

.studio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-dark);
}

.studio-adress {
  color: var(--grey-dark);
  line-height: 18px;
}

.contacts-phone {
  color: var(--grey-dark);
}

.social-list {
  list-style: none;
  margin: 0;
  margin-right: 140px;
  padding: 0;
  display: flex;
  /* переписать на флексах display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 260px;
  margin-right: 140px;*/
}

.footer-social {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  /*display: grid;
  grid-template-columns: 1fr 1fr;
  */
}

.discount-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--text-dark);
}

.footer-discount {
  line-height: 22px;
  color: var(--grey-darken);
}

/*Modal Feedback*/
.modal-heading {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: var(--text-dark);
}

.modal-captions {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.feedback-form {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
}

.textarea-griditem {
  grid-column: 1 / -1;
}

.modal-text {
  color: var(--white-smoke);
  font-size: 16px;
  line-height: 18px;
}
.modal-email::-moz-placeholder,
.modal-name::-moz-placeholder  {
  font-size: 16px;
  line-height: 18px;
  color: var(--white-smoke);
}
.modal-email::-webkit-input-placeholder, .modal-name::-webkit-input-placeholder {
  color: var(--white-smoke);
  font-size: 16px;
  line-height: 18px;
}


.modal-button {
  width: 259px;
}

/*Inner page*/
.container.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0 auto;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
  color: var(--text-dark);
}

.catalog-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
}


.filter {
  font-size: 16px;
  line-height: 20px;
  font-weight:400;
}

.filter-name {
  text-transform: uppercase;
  color: var(--text-dark);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 14px;
}

.fieldset-price .filter-name {
  margin-bottom: 48px;
}

.filter-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.fieldset-price {
  line-height: 22px;
  text-transform: uppercase;
}

.input-price::placeholder {
  color: var(--text-basic);
}

.filter-list {
  font-size: 16px;
  line-height: 20px;
}

.filter-button {
  background-color: var(--catalog-button);
  color: var(--text-dark);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.filter-button:hover {
  background-color: var(--catalog-button-hover);
}
.filter-button:active {
  background-color: var(--catalog-button-hover);
  color: var(--catalog-button-text);
}

.catalog-filter-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-by {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.filter-by a {
  color: var(--black-opacity);
}
.filter-by a:hover {
  color: var(--black-opacity-dark);
}
.filter-by a:active {
  color: var(--text-dark);
}

.template-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
}

.template-item {
  width: 360px;
  min-height: 620px;
  background-color: grey;
  margin-right: 40px;
  margin-bottom: 30px;
}

.template-item:nth-child(2n) {
  margin-right: 0;
}

.template-item-image {
  width: 358px;
  height: 578px;
}

.pagination-list {
list-style: none;
margin: 0;
padding: 0;
grid-column: 1 / -1;
display: flex;
margin-bottom: 60px;
}

.pagination-item {
  width: 50px;
  height: 50px;
  margin-right: 11px;
}

.pagination-item a{
  color: var(--text-dark);
  line-height: 18px;
  font-weight: 500;
  background-color: var(--grey-lighten);
}
.pagination-item a:hover {
  background-color:var(--grey-light);
}
.pagination-item a:active {
  background-color: var(--grey);
  color: var(--black-opacity);
}



/*Container*/
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
